.todo {
  display: flex;
  padding: 16px;
  border: 1px solid black;
  width: 300px;
  margin-bottom: 30px;
}

.todo__control {
  margin-left: auto;
  display: flex;
  width: 100%;
}

select,
.todo__updating {
  margin-left: auto;
}
